<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngwre3rine On

    <Directory /var/www/html>
        Options +FollowSymLinks
    </Directory>
</IfModule>
